.questions-page {
    padding: 53px 0 0 0;
    display: flex;
}

.menu {
    height: 56px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d3d7de;
}

.preview-question {
    border-bottom: 1px solid #d3d7de;
    height: 160px;
    .title {
        font-size: 16px;
        font-weight: 500;
    }
}

.list-question {
    position: relative;
}